#player-config-overlay {
    text-align: center;
}

#player-config-overlay h3 {
    margin: 0.5rem auto;
}

#player-config-overlay label{
    font-weight: bold;
}

#player-config-overlay input{
    display: block;
    margin: 0.5rem auto;
    border: 1px solid darkgray;
    font: inherit;
    padding: .25rem;
    width: 60%;
    border-radius: 3px;
}

#player-config-overlay input:focus {
    background-color: antiquewhite;
}