#player-config-overlay {
    text-align: center;
}

#player-config-overlay h3 {
    margin: 0.5rem auto;
}

#player-config-overlay label{
    font-weight: bold;
}

#player-config-overlay input{
    display: block;
    margin: 0.5rem auto;
    border: 1px solid darkgray;
    font: inherit;
    padding: .25rem;
    width: 60%;
    border-radius: 3px;
}

#player-config-overlay input:focus {
    background-color: antiquewhite;
}

#player-config-area {
    width: 90%;
    max-width: 30rem;
    margin: 2rem auto;
    text-align: center;
}

#player-config-area ol{
    display: flex;
}

#player-config-area li {
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: rgb(227, 255, 255);
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#player-config-area h2 {
    font-size: 1rem;
    margin: .5rem 0;
}

#player-config-area h3 {
    font-size: 1.5rem;
    margin: .5rem 0;
}

#player-config-area p {
    font-size: 2rem;
    margin: 0.5rem 0;
    font-family: 'Vujahday Script', sans-serif;
    font-weight: bold;
}