html {
    --theme-color: rgb(68, 189, 219);
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue;
    overflow: hidden;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-header {
    background-color: var(--theme-color);
    margin: 0;
    padding: 1rem 5%;
    text-align: center;
    overflow: hidden;
}

#main-header h1 {
    margin: 1rem 0;
}

#main-header p {
    font-weight: bold;
    margin: 1rem 0;
}

.btn {
    background-color: var(--theme-color);
    font: inherit;
    padding: 0.25rem 1rem;
    border: 1px solid var(--theme-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 .25rem;
    font-weight: bold;
}

.btn-alt {
    background-color: transparent;
    border-color: transparent;
    color: var(--theme-color);
}

.new-game {
    color:black;
    border: transparent;
    background-color: white;
}

.btn:hover {
    background-color: rgb(68, 166, 196);
}

.btn-alt:hover {
    background-color: rgb(195, 213, 230);
}

.cancel-btn:hover {
    background-color: rgb(209, 68, 68);
    border-color: rgb(209, 68, 68);
    color: white;
}